body{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}



// Navbar

#Navbar{
    width: 100%;
    height:120vh;
    background-image: url(../img/photo-1616004667892-d348f7349d39.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
         .overlay {
            position: absolute;
            width: 100%;
            height: 148.9vh;
            background-color: rgba(0, 0, 0, 0.7);
            top: -167px;
            z-index: -1;
          }
    .tm{
        display: flex;
        align-items: center;
       h1{
         width: 45px;
         height: 40px;
         color: #f8f8f8;
         border: 4px solid #f8f8f8;
         border-radius: 50%;
         margin: auto;
         margin-left: 575px;
         text-align: center;
         font-weight: 300;
        }
       .mobil{
           text-align: end;
        i{
            color: #f8f8f8;
            font-size: 22px;
            margin-right: 20px;
            span{
                font-weight: 300;
                color: #f8f8f8;
                font-size: 16px;
                margin-left: 10px;
            }
        }
       }
     }
    .my-page{
        display: flex;
        align-items: center;
        padding-top: 140px;
        .title{
            padding-bottom: 50px;
            h2{
                color: #f8f8f8;
                font-size: 2.5em;
                font-weight: 300;
                letter-spacing:6px;
               
            }
            h5{
                color: #f8f8f8;
                font-size: 1.5em;
                font-weight: 300;
                letter-spacing:2px;
                margin: 0%;
            }
           .my-btn{
               margin-top: 40px;
            .btn-works{
                padding: 15px 30px;
                background-color: #f8f8f8;
                color: black;
                text-decoration: none;
                margin-top: 30px;
            }
            .btn-contact{
                color: #f8f8f8;
                font-size: 20px;
                margin-left: 30px;
                i{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
           }
            .typing-demo{
                width:10ch;
                white-space: nowrap;
                overflow: hidden;
                border-right: 3px solid;
                font-weight: 700;
                font-size: 4.5em;
                color: #f8f8f8;
                animation: typing 2s steps(18), blink .5s step-end infinite alternate;
            }
            @keyframes typing{
                from{
                    width: 0;
                }
            }
            @keyframes blink{
                50%{
                    border-color: transparent;
                }
            }
         }

        .title-img{
            display: flex;
            justify-content: flex-end;
            img{
                max-width: 75%;
                height: auto;
                border: 5px solid #f8f8f8;
                border-radius: 0% 100% 0% 99% / 94% 81% 55% 56%  ;
            }
        }
    }
}
// Navbar

// Myself
#Myself{
    background: rgb(27, 27, 27);
    width: 100%;
    height: 100vh;
    .my-self-title{
        margin-top: 40px;
        h1{
            font-weight: 700;
            font-size: 2.5em;
            color: #f8f8f8;
        }
    }
}
// Myself