*{
    font-family: 'Mulish', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Navbar */
.navbar {
   height: 50px;
   width: 100%;
   margin-top: 56px;
   display: flex;
   align-items: center;
}

 .navbar .left{
    align-items: center;
    display: flex;
}

.navbar .left strong{
    color: #f8f8f8;
    background-color: #458FF6;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    line-height: 33px;
}
.navbar .left h3{
    color: #233348;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-left: 12px;
}
.navbar .right a{
    color: #1F1534;
    opacity: 0.5;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-left:40px ;
}
.right a:nth-child(1){
    color:#1F1534;
    opacity: 1;
}
/* Navbar */

/* Header Item */
.header-item .item-img img{
    width:643px;
    height: 558px;
    margin-left: 350px;
    margin-top: -350px;

}
.item-text{
    margin-top: 191px;
}
.item-text h1{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}
.item-text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #7D7987;
}
.item-text .button{
    margin-top: 40px;
    margin-left: -10px;

}
.item-text .button a{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #458FF6;
    color: #ffff;
    border-radius: 55px;
    margin-top: 20px;
}
/* Header Item */
/* Our Services */
#Services{
    width: 100%;
    height: auto;
    margin-top: 192px;
}
.text-services{
    text-align: center;
}
.text-services h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}
.text-services .line{
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #000000;
    margin: auto;
    margin-top: 26px;
}
.text-services p{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 61px;
    color: #7D7987;
}

.box-back-img {
    position: absolute;
    left: 0%;
    top: 200%;
}
.box-back-img img{
    width: 737px;
    height: 471px;
}
.box{
    margin-top:80px;
    align-items: center;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 34px;
}
.box-item{
    width: 330px;
    height: 325px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.box-item img{
    position: relative;
    top: 40px;
    left: 40px;
}

.box-item .box-item-text{
    margin-top: 55px;
}

.box-item h3{
    font-weight: 700;
    font-size: 29px;
    line-height: 55px;
    color: #000000;
    margin-left: 40px;
}
.box-item p{
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #7D7987;
    margin-left: 40px;
}
.services-box .btn{
    text-align: center;
    margin-top: 69px;
}
.services-box .btn a{
    text-decoration: none;
    padding: 15px 30px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    color: #458FF6;
    border-radius: 55px;
    margin-top: 20px;
    font-weight: bold;
}
/* Our Services */
/* Leading */
#Leading{
    width: 100%;
    height: auto;
}
.leading-item{
    display: flex;
}
.leading-item .leading-item-img img{
    width: 603px;
    height: 528px;
    margin-top: 150px;
    margin-left: -60px;

}
.leading-item-text{
    margin-top: 280px;
    margin-left: 140px;

}
.leading-item-text h1{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}
.leading-item-text .line{
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 26px;
}
.leading-item-text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 31px;
    color: #7D7987;
}
.leading-item-text .btn{
    margin-top: 37px;
}
.leading-item-text .btn a{
    text-decoration: none;
    padding: 15px 30px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    color: #458FF6;
    border-radius: 55px;
    margin-top: 20px;
    font-weight: bold;
}
/* Leading */
/* Download */
#Download{
    width: 100%;
    height: auto;
    margin-top: 220px;
}
.download-item .download-item-img img{
    width:643px;
    height: 558px;
    margin-left: 400px;
    margin-top: -420px;

}
.download-text{
    margin-top: 200px;
}
.download-text h1{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}
.download-text .line{
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 26px;
}
.download-text p{
    font-weight: 300;
    font-size: 16px;
    margin-top: 31px;
    line-height: 30px;
    color: #7D7987;
}
.download-text .btn{
    margin-top: 37px;
}
.download-text .btn a{
    text-decoration: none;
    padding: 15px 30px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    color: #458FF6;
    border-radius: 55px;
    margin-top: 20px;
    font-weight: bold;
}
/* Download */
/* Customer */
#Customer{
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 266px;
}
.customer-box{
    position: absolute;
    top: 3788px;
    left: 70px;
}
.customer-box img{
    width: 100%;
    height: 100%;
}
.customer-box-item{
    position: relative;
    top: 0%;
    left: 240px;
}
.customer-box-item h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}
.customer-box-item .line{
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    margin-top: 25px;
}
 #Customer .founder{
    position: relative;
    top: 107px;
    left: 40px;
    display: flex
    
}
 #Customer .founder img{
    border: 5px solid #fff;
    border-radius: 50%;
}
 #Customer .founder h3{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
    margin-left: 29px;
    margin-top: 30px;
}
 #Customer .founder p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 70px;
    margin-left: -182px ;
    color: rgba(255, 255, 255, 0.85);
}

#Customer .founder-info p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 105px;
    margin-left: 66px;
    color: rgba(255, 255, 255, 0.85);
}
#Customer .scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}
#Customer .scroll img{
    width: 10px;
    height: 10px;
    margin: 18px;
}
#Customer .scroll .left{
    width: 28px;
    height: 18px;
    margin-right:91px;
}
#Customer .scroll .right{
    width: 28px;
    height: 18px;
    margin-left:91px;
}

/* Customer */
/* Check Out */
#Check-out{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 227px;
}
.check-text{
    text-align: center;
}
.check-text h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}
.check-text .line{
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #000000;
    margin: auto;
    margin-top: 26px;
}
.box-check-img{
    position: absolute;
    right: 0px;
    top: 4637px;;
}
.box-check-img img{
    width: 345px;
    height: 380px;
}
.box-second{
    margin-top:80px;
    align-items: center;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 34px;
}
.check-box-item{
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.check-box-item img{
    width: 320px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.check-box-item h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
    text-align: left;
    margin-left: 10px;
}
.check-box-item p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
    color: #7D7987;
}
.check-box-item h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #458FF6;
    text-align: left;
    margin-left: 10px;

}

.check-box .btn{
    text-align: center;
    margin-top: 69px;
}
.check-box .btn a{
    text-decoration: none;
    padding: 15px 30px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    color: #458FF6;
    border-radius: 55px;
    margin-top: 20px;
    font-weight: bold;
}
/* Check Out */
/* Footer */
footer{
    width: 100%;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}
.footer-container{
    color: #fff;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 70px;
    padding: 80px 0;
}

.footer-logo{
    display: flex;
    align-items: center;
    margin: 0;
}
.footer-t-logo{
    background-color: #fff;
    color: #458FF6;
    padding: 5px 13px;
    border-radius: 50%;
}
.footer-t-logo h6{
    font-size: 26px;
    font-weight: 700;

}
.footer-t-logo p{
    padding-left: 13px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.footer-item h5{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding: 22px 0 31px 0;
}
.footer-item h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}
.footer-item li{
    list-style: none;
    padding: 10px 0;
}
/* Footer */